<!DOCTYPE html>
<html>
<head>
  {{#block "head"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
  {{/block}}
</head>

<body>
  <h1>This is the Frankly Page</h1>
  <h2>Nyert, Nyert</h2>
  {{#block "body"}}
    Body content should replace this.
  {{/block}}
</body>

</html>
